*{
    box-sizing: border-box;
    /*width: 0;
    height: 0;*/

}

header {
    background-color: red;
    height: 100px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > img {
    width: 10%;

    
    
}


.Container-Lista > ul {
    display: flex;
    text-align: center;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    padding-right: 50px;
   
}
.Container-Lista > ul li {
    text-decoration: none;
    
    
    

}

.Container-Lista ul a {
    color: rgb(255, 161, 21);
    text-decoration: none;
}





